<div class="container mt-5">

  <!-- LOADING -->
  <div *ngIf="loading" class="text-center p-4">
    <div class="spinner-border text-primary"></div>
    <p class="mt-2">Chargement...</p>
  </div>

  <!-- ERREUR -->
  <div *ngIf="erreur && !loading" class="alert alert-danger text-center">
    ❌ Erreur lors du chargement
    <br><br>
    <button (click)="retour()" class="btn btn-primary">
      ⬅ Retour au dashboard
    </button>
  </div>

  <!-- DETAIL -->
  <div *ngIf="assignment && !loading" class="card shadow p-4 mx-auto"
    style="max-width: 600px;">

    <!-- IMAGE -->
    <div class="text-center mb-3">
      <img
        [src]="assignment.image || 'https://cdn-icons-png.flaticon.com/512/1055/1055687.png'"
        width="80" height="80" style="object-fit:contain">
    </div>

    <h2 class="text-center mb-4">{{ assignment.nom }}</h2>

    <p><strong>Auteur :</strong> {{ assignment.auteur }}</p>
    <p><strong>Matière :</strong> {{ assignment.matiere }}</p>
    <p><strong>Prof :</strong> {{ assignment.prof }}</p>
    <p><strong>Note :</strong> {{ assignment.note }}/20</p>
    <p><strong>Remarques :</strong> {{ assignment.remarques }}</p>

    <p>
      <strong>Statut :</strong>
      <span *ngIf="assignment.rendu" class="badge bg-success ms-1">Rendu</span>
      <span *ngIf="!assignment.rendu" class="badge bg-danger ms-1">Non rendu</span>
    </p>

    <div class="text-center mt-4">
      <button (click)="retour()" class="btn btn-primary">
        ⬅ Retour au dashboard
      </button>
    </div>

  </div>

</div>